<div ng-controller="adminCtrl">
	<form id="orgForm" name = "orgForm" class="form-horizontal {'form-error':submitted}">
		<div class="form-group">
			<label class="control-label col-sm-2" for="org">
				Organization:</label>
			<div class="col-sm-10">
				<input id="org" type="text" class="form-control" style="width: 30%"
					placeholder="Enter organization" ng-model="organization.name"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="lob"> Line of
				Business:</label>
			<div class="col-sm-10">
				<input id="lob" type="text" class="form-control" style="width: 30%"
					placeholder="Enter LOB" ng-model="organization.segments[0].name">
			</div>
		</div>
<!-- 		<div class="form-group"> -->
<!-- 			<div class="col-sm-offset-2 col-sm-10"> -->
<!-- 				<div class="dropdown"> -->
<!-- 					<button class="dropdown-toggle" type="button" -->
<!-- 						data-toggle="dropdown"> -->
<!-- 						{{selectedTeam}}<span class="caret"></span> -->
<!-- 					</button> -->
<!-- 					<ul class="dropdown-menu"> -->
<!-- 						<li><a ng-click="selectTeam(team)" -->
<!-- 							ng-repeat="team in teamDisplay">{{team}}</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div ng-repeat="employee in organization.segments[0].employees">
					<input type="text" placeholder="First Name"
						ng-model="organization.segments[0].employees[$index].firstName"><input type="text"
						placeholder="Last Name" ng-model="organization.segments[0].employees[$index].lastName">
					<input type="text" placeholder="Email"
						ng-model="organization.segments[0].employees[$index].email">
					<select ng-model='selectedRoles[$index]'
						ng-options='r as r for r in roleDisplay'>
					</select>
				</div>
				<button ng-click="addMember()">Add Member</button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
				<div id="formSuccess" ng-show="showSuccess" style="color: green"></div>
				<div id="formError" ng-show="showError" style="color: red"></div>
			</div>
		</div>
	</form>
</div>