<div style="margin-left: 71px">
	<p>This Agile scan is developed by Deloitte consulting. The purpose
		of this scan is to:
	<p>1) Help assess Agile maturity of an organization and/or team(s).</p>
	<p>2) Help identify, evaluate, and address barriers to optimal
		performance of Agile at the organization and/or team(s) level.</p>
	</p>
	<div>
		This scan can be completed from two perspectives:
		<li>Assessment based on your level in the organization:
			<ul>Delivery / Team level
			</ul>
			<ul>Program level
			</ul>
			<ul>Portfolio level
			</ul>
		</li>
		<li>Assessment based on your role in the organization:
			<ul>PO, Arch etc…
			</ul>
		</li>
	</div>
</div>