<div ng-controller="menuCtrl">
<form id="menuForm" class="form-horizontal">
<!-- <div class="form-group"> -->
	<p style="font-weight: bold; margin-left: 71px">View questions by level</p>
	<div class="form-group">
		<select ng-model='selectedTeam' style="margin-left: 110px"
			ng-options='t as t for t in teamDisplay'>
		</select> <span class="input-group-btn">
			<button class="btn btn-default" ng-click="getTeamQuestions()">Go</button>
		</span>
	</div>
	<br />
	<p style="font-weight: bold; margin-left: 71px">View questions by role</p>
	<div class="form-group">

		<select ng-model='selectedRole' style="margin-left: 110px"
			ng-options='r as r for r in roleDisplay'>
		</select> <span class="input-group-btn">
			<button class="btn btn-default" ng-click="getRoleQuestions()">Go</button>
		</span>
	</div>
<!-- 	</div> -->
</form>
	<br />
	
	<form id="exportForm" class="form-horizontal">
	<p style="font-weight: bold; margin-left: 71px">Export questions</p>
	<div class="form-group">
		<div class="form-group">
			<label class="control-label col-sm-2" for="org">
				Organization:</label>
			<select id="org" ng-model="organization" ng-options="option as option.name for option in organizations">
			</select>
<!-- 		</div> -->
<!-- 		<div class="form-group" ng-show="segments.length"> -->
<!-- 			<label class="control-label col-sm-2" for="lob"> -->
<!-- 				LOB:</label> -->
<!-- 			<select id="lob" ng-model="segment" ng-options="option as option.name for option in segments" -->
<!-- 						> -->
<!-- 			</select> -->
<!-- 		</div> -->
<!-- 		<div class="form-group" ng-show="segments.length"> -->
<!-- 			<label class="control-label col-sm-2" for="type"> -->
<!-- 				Role or Level:</label> -->
<!-- 			<select id="type" ng-model="exportType" -->
<!-- 				ng-options="option for option in exportTypes" -->
<!-- 				ng-change="getExportOptions()" -->
<!-- 				> -->
<!-- 			</select>  -->
<!-- 		</div> -->
<!-- 		<div class="form-group" ng-show='exportType'> -->
<!-- 			<label class="control-label col-sm-2" for="opts"> -->
<!-- 				Options:</label> -->
<!-- 			<select id="opts" ng-model="exportOption" -->
<!-- 				ng-options="option for option in exportOptions" -->
<!-- 				> -->
<!-- 			</select> -->
<!-- 		</div> -->
<!-- 		<div class="form-group"> -->
			<span class="input-group-btn">
				<button class="btn btn-default"
					ng-click="exportResponses()">Export</button>
			</span>
		</div>
	</div>
	</form>
</div>