<div ng-controller="survCtrl">
	<span>Please choose a survey</span>
	<div class="form-group">
	<label for="survs">Surveys: </label>
			<select id="survs" ng-model='selectedSurvey'
				ng-options='s.roleName for s in surveys'>
			</select>
		<button ng-click="getSurvey()">Go</button>
	</div>
</div>