.form-group {
        max-width: 100%;
    }
.navbar-default {
	background: black;
}
.deloitte-logo {
	width: 182px;
	height: 34px;
	padding-bottom: 12px;
	padding-right: 64px;
}
.navbar-right i {
	color: white;
}
.input-group-btn {
	display: inline-block;
	margin: 5px;
}
#exportForm label {
    line-height: 1;
    font-weight: normal;
}
/* 	line-height: 182 */
/* } */